html, body {
    height: 100%;
    width: 100%;
  }

  body {
    background-image: linear-gradient(to bottom right, #ffbdbd, #c9c9ff);
    background-repeat:no-repeat;
    background-attachment:fixed;
  }
  h1{
    font-family:"Lucida Sans Unicode";
    font-size: 400%;
    text-align: center;
    color: #989fa7;}
.img-with-text {
    text-align: justify;
    width: [width of img];
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}
.img-with-text{color:#989fa7;}
.dropbtn {
  background-color: #afaca2;
  color: white;
  padding: 10px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 50px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #989fa7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#a4abb3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(69, 67, 67, 0.2);
  z-index: 1;
  bottom: -135px;
  left: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.images-remove.png {
  width: 400px,
}
.images-remove.png {
  height: auto;
}
.img-with-text{
  align-items: baseline;
}
p{
  font-family:"Lucida Sans Unicode";
  font-size: 200%;
  color: #989fa7;
  text-align: center;
}
.resu{
  height: 150%;
  width: 70%;
  margin-top: 150px;
  float: right;
  padding-right: 15%;
 }
.mail{
  width: 170px;
  height: 100px;
}
.python{
  float:right;
  padding-right: 40%;
}
.ptext{
  float: right;
  text-align: center;
  padding-right: 9.7%;
}
.html{
  float:right;
  padding-right: 45%;
  width: 10.5%;
 
}
.ht{
  float: right;
  text-align: center;
  padding-right: 16.5%;
}
.css{
  float:right;
  padding-right: 38.7%;
  width: 23%;
}
.cs{
  text-align: center;
  float: right;
  padding-right: 11.5%;
}
.dj{
  float:right;
  padding-right: 38.7%;
  width: 23%;
}
.jan{
  text-align: center;
  float: right;
  padding-right: 8%;
}
.script{
  float:right;
  padding-right: 35.5%;
  width: 29.5%;
 
}
.jscript{
  padding-right: 1.7%;
  float: right;
  text-align: center;

}
.java{
  float:right;
  padding-right: 38%;
  width: 23.3%;
 
}
.ja{
  padding-right: 11%;
  float: right;

}
.spring{
  float:right;
  padding-right: 30%;
  width: 40%;
 
}
.bing{
  float: right;
  text-align: center;
}