html, body {
    height: 100%;
    width: 100%;
  }

  body {
    background-image: linear-gradient(to bottom right, #ffbdbd, #ac8edf);
    background-repeat:no-repeat;
    background-attachment:fixed;
    overflow-x: hidden;
  }
  h1{
    font-family:"Lucida Sans Unicode";
    font-size: 400%;
    text-align: center;
    color: #828588;}
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    align-items: center;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #43bea2;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .dropbtn {
    background-color: #afaca2;
    color: white;
    padding: .3em;
    font-size: 2em;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 3em;
    left: 2em;
    
  }
  
 /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #989fa7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#a4abb3;
  min-width: 10em;
  box-shadow: 0% 8% 16% 0% rgba(69, 67, 67, 0.2);
  z-index: 1;
  top: -6em;
  left: 4em;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 7% 8%;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


  .container {
    position: absolute;
    width: 45%;
    left: 2%;
    top: 202px;
    left: 50px;

  }
  
  .image {

    display: block;
    width: 100%;
    height: auto;
    left: 10%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5fbddc;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

h3{
    font-size: 30px;
    color: #828588;;
  }
  .container2 {
    position: absolute;
    width: 45%;
   
    left: 800px;

 
  
  }
  
  .images {
    display: block;
    width: 98%;
    height: 70%;
    
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-right: 9%;
    height: 100%;
    width: 89%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5fbddc;
  }
  
  .container2:hover .overlay1 {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  @media only screen and (max-width: 700px) {
    .dropbtn {
      background-color: #afaca2;
      color: white;
      padding: .3em;
      font-size: 2em;
      border: none;
      cursor: pointer;
      position: absolute;
      bottom: 3em;
      left: 1em;
      
    }
    
    .container {
      position: relative;
      width: 75%;
      left: 10%;
      top: -5%;
    }
    
    .image {
  
      display: block;
      width: 100%;
      height: auto;
      left: 10%;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0%;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: .5s ease;
      background-color: #5fbddc;
    }
    
    .container:hover .overlay {
      opacity: 1;
    }
    
    .text {
      color: white;
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  
  h3{
      font-size: 20px;
      color: #828588;;}

    .container2 {
        position: relative;
        width: 76.5%;
        top: 5%;
        right: 8.5%;
      
      }
      
      .images {
        display: block;
        width: 98%;
        height: 70%;
        
      }
      
      .overlay1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding-right: 20%;
        height: 100%;
        width: 72%;
        opacity: 1;
        transition: .5s ease;
        /* background-color: #5fbddc; */
      }
      
      .container2:hover .overlay1 {
        opacity: 1;
      }
      

  }
  @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  /* /* and (-webkit-min-device-pixel-ratio: 1) */
   { 
    .container {
      position: relative;
      width: 45%;
      left: 2%;
      top: -5%;

  
    }
    
    .image {
  
      display: block;
      width: 100%;
      height: auto;
      left: 10%;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: .5s ease;
      background-color: #5fbddc;
    }
    
    .container:hover .overlay {
      opacity: 1;
    }
    
    .text {
      color: white;
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  
  h3{
      font-size: 30px;
      color: #828588;;
    }
    .container2 {
      position: relative;
      width: 45%;
      top: 2%;
      padding-right: 2%;
      float: left;
    
    
    }
    
    .images {
      display: block;
      width: 98%;
      height: 70%;
      padding-left: 6.5%;
      
    }
    
    .overlay1 {
      position: absolute;
      top: 0%;
      bottom: 0;
      left: 100%;

      height: 100%;
      width: 79%;
      opacity: 1;
      transition: .5s ease;
      background-color: #5fbddc;
    }
    
    .container2:hover .overlay1 {
      opacity: 1;
    }
    
    .text {
      color: white;
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  @media only screen and (max-width: 1280px) {
    container {
      position: relative;
      width: 50%;
    }
    .container2 {
      position: absolute;
      width: 45%;
     
      left: 650px;
  
   
    
    }
  }